@import 'compass/css3';
@import '../bourbon/bourbon';

$main-font-stack: 'Source Sans Pro', sans-serif;
$header-font-stack: 'Roboto', sans-serif;
$myspecialblack: #232323;
$red: #ED1C24;
$blue: #27a9e1;
$cardshirtred: #BA0202;

@media only screen and (min-width: 1600px) {

}

@media only screen and (max-width: 1600px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1050px) {
    .container {
        max-width: 55rem;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        max-width: 45rem;
    }

    .section.tiles {
        .container, .container.special {
            max-width: 100%;
        }
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 2.75rem;
    }

    .container {
        max-width: 80%;
    }

    .section.hero {
        padding-top: 5rem;
        h1 {
            font-size: 4rem;
        }
    }

    .section.hero.cardshirt {
        padding: 5rem 0;
        img.h1equiv {
            height: auto;
            width: 100%;
        }
    }

    .section.tiles {
        .box {
            height: 10rem;
            .card {
                .face.back {
                    padding-top: 0.75rem;
                    h2 {
                        font-size: 1rem;
                    }
                    p {
                        font-size: 0.85rem;
                    }
                    p.description {
                        display: none;
                    }
                }
            }
        }
        .box.tall {
            height: 20rem;
            .card {
                .face.back {
                    padding-top: 1rem;
                }
            }
        }
        .box.small {
            height: 5rem;
            .card {
                .face.back {
                    padding-top: 0.15rem;
                    h2 {
                        font-size: 0.85rem;
                    }
                    p {
                        font-size: 0.65rem;
                    }
                }
            }
        }
        .box.wide {
            .card {
                .face.back {
                    p.description {
                        display: block;
                    }
                }
            }
        }
    }


}

@media only screen and (max-width: 480px) {
    .section.tiles {
        .box {
            width: 50%;
        }
        .box.small {
            width: 25%;
        }
        .box.wide {
            width: 100%;
        }
    }

    .section.blank {
        h1 {
            img {
                height: 2.5rem;
            }
        }
        .pics {
            margin: 0.5rem 0;
        }
        img {
            width: 16%;
        }
    }

    .section.map {
        .cover {
            top: auto;
            bottom: 0;
        }
        #map-canvas {
            height: 10rem;
        }
    }

    .section.footer {
        .float-left {
            width: 100%;
            padding: 2rem 0;
            float: none;
        }
        .float-right {
            width: 100%;
            float: none;
        }
    }

    .blackcover {
        .product {
            .item {
                float: none;
                width: 90%;
            }
            .contained {
                float: none;
                width: 90%;
                .button {
                    font-size: 1rem;
                    margin: 0.75rem 0;
                }
                span.social {
                    width: 80%;
                    margin: 0.5rem 0;
                }
            }
        }
    }

    .button {
        font-size: 1.5rem;
        padding: 1rem 2rem;
    }

    img.h1equiv {
        height: auto;
        width: 50%;
    }

    .section.header {
        .wrapper {
            width: 90%;
            a {
                font-size: 2rem;
            }
        }
        .section.bottom {
            padding: 0.75rem 0;
            .float-left {
                margin-left: 0.5rem;
            }
            .float-right {
                margin-right: 0.5rem;
            }
        }
    }

    .section.store {
        .wrapper {
            width: 50%;
        }
    }
}
